@import "../../assets/variables.scss";

.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  background-color: rgba(233, 227, 215, 255);
  padding: 0px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  .logo {
    width: 100px;
    height: auto;
    margin-bottom: -20px;
  }

  .menuList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    list-style: none;

    a {
      color: $color-title;
      text-decoration: none;
      font-weight: bold;
      padding: 0px 12px;
      margin-top: -25px;
    }
  }
}

.active {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbarContainer {
    height: 100px;
    padding: 0px 10px;
  }

  .logo {
    width: 100px;
    height: auto;
  }
  .menuList {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
