@import "../../assets/variables.scss";

.main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.workstext h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.productsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.productCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.productCard:hover {
  transform: scale(1.05);
}

.productImage {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.quantityInput {
  width: 60px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

p {
  font-size: $font-size-paragraph;
  color: #555;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #222;
}

.dashedline {
  border: none;
  border-top: 2px dashed #000000;
  margin: 20px 0;
  width: 100%;
}

.orderform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;

}

input,
textarea {
  display: block;
  margin-bottom: 10px;
  padding: 8px;

  border-radius: 5px;
}

button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
