@import "../../assets/variables.scss";

.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.productCard {
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  transition: transform 0.2s ease-in-out;
  gap: 100px;
  margin-bottom: 20px;
}

.productCard:hover {
  transform: scale(1.05);
}

.productImage {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.productCard h3,
.productCard p {
  margin: 0;
  font-size: 1rem;
  white-space: pre-line;
}

.quantityInput {
  width: 60px;
  padding: 5px;
  margin: 5px 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

label {
  padding-top: 10px;
  font-weight: bold;
}
