@import "../../assets/variables.scss";

.title {
  text-align: center;
  padding-top: 40px;
  color: $color-title;
  font-size: $font-size-title;
}

.paragraph {
  text-align: center;
  padding: 16px;
  font-size: $font-size-paragraph;
  color: $color-paragraph;
}

.lineHeight {
  line-height: 3rem;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.imgWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 20px;
  max-width: 40vw;
  padding-bottom: 16px;
}

.imgWrapper img {
  margin-top: 20px;
  margin-bottom: -10px;
}

@media (max-width: 768px) {
  .title {
    padding-top: 80px;
  }

  .imgContainer {
    flex-direction: column;
  }

  .imgWrapper img {
    height: 250px;
  }
}
